a[href^="https://www.google.com"]{
    color: green;
}

a[href="https://www.link-group.eu/"] { 
    color: red; 
}

#second-div p:nth-child(odd) {
    color: red;
}

#second-div p:nth-child(even) {
    color: blue;
}

p:last-child:hover{
    font-style: italic;
    color: orange;
    cursor: pointer;
}

#first-div > p:nth-child(2)::after,
#first-div > p:nth-child(3)::after {
  content: " -NEW";
  color: yellowgreen;
}